.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #303855;
    height: 66px;
}

.navbar .navbar-holder {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    height: 66px;
}

.navbar .navbar-holder .navbar-slider {
    width: 20px;
    height: 18px;
    opacity: 60%;
}

.navbar .navbar-holder .navbar-logo-area {
    display: flex;
    align-items: center;
    padding-right: 26px;
    margin-left: 10px;
}

.navbar .navbar-holder .navbar-logo-area img {
    width: 32px;
    height: 32px;
    background-color: #5567FF;
    padding: 5px;
    border-radius: 5px;
}

.navbar .navbar-holder .navbar-logo-area h1 {
    margin-left: 10px;
    color: white;
    font-size:25px;
}

.navbar .navbar-holder .navbar-menu-area {
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar .navbar-holder .navbar-menu-area li {
    padding-right: 18px;
}

.navbar .navbar-holder .navbar-menu-area li a {
    color: white;
    font-weight: bold;
    opacity: 80%;
}

.navbar .navbar-holder .navbar-menu-area li a:hover {
    opacity: 100%;
}

.navbar .navbar-icon-size {
    width: 25px;
    height: 25px;
}

.navbar .navbar-holder .navbar-account-area {
    display: flex;
    height: 66px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.navbar .navbar-holder .navbar-account-area li {
    padding-left: 18px;
}

.navbar .navbar-holder .navbar-account-area .navbar-sign-button {
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 12px;
}

.navbar .navbar-holder .navbar-account-area .navbar-sign-button:hover {
    color:blue;
    background-color: white;
}

.navbar .navbar-holder .navbar-account-area .navbar-icon-padlock {
    opacity: 80%;
}

.navbar .navbar-holder .navbar-account-area .navbar-icon-padlock:hover{
    opacity: 100%;
}