.blog{
    display: flex;
    justify-content: center;
    background-color: #F5F7FA;
    border-bottom: 2px solid #E9EDF2;
    height: 420px;
}

.blog-holder{
    width: 1140px;
    margin: 0 auto;
    height: 345px;
    margin: 30px 0px 42px 0px;
    /* background-color: navajowhite; */
}

.blog-holder-title{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    padding-top:6px;
    padding-right: 10px;
    margin: 0;
    margin-left: 25px;
    color:#303956;
}

.blog-content{
    display: flex;
    height: 224px;
    width: 1119px;
    margin: 14px 12px;
    /* background-color: red; */
}

.blog-content-item{
    width: 348px;
    height: 200px;
    margin: 0px 11px;
    border-radius: 10px;
}

.bci-one{
    background-color: #3F3BB0;
}
.bci-two{
    background-color: #42489B;
}
.bci-three{
    background-color: #2A89F0;
}

.profile-image-container{
    width: 277px;
    margin: 15px 15px;
    /* background-color: red; */
}

.profile-image{
    width: 26px;
    height: 26px;
    border-radius: 100%;
    border: 3px solid black;
    background-color: white;
}

.blog-item-top{
    display: flex;
    align-items: center;
    width: 348px;
    height:60px;
}

.blog-item-top p{
    color: white;
    font-family: "Roboto";
    font-size: 14px;
}

.blog-item-middle{
    height: 66px;
}

.blog-item-bottom{
    height: 74px;
}

.blog-item-bottom-head-title{
    font-family: "Roboto";
    font-size: 13px;
    color: #ffffff;
    opacity: 60%;
    margin-left: 16px;
    margin-bottom: 0;
}

.blog-item-bottom-head-description{
    font-family: "Roboto";
    font-size: 16px;
    margin-left: 16px;
    color: white;
    opacity: 90%;
    font-weight: bold;
    margin-top: 5px;
}

.blog-course{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #E9EDF2;
    height: 84px;
    margin: 0px 25px;
}

.blog-course-image{
    width: 64px;
    height: 64px;
    border-radius: 3px;
    background-color: #3E3F7F;
    margin: 10px 0px 10px 10px;
}

.blog-course-text-area{
    width: 302px;
    margin-left: 17px;
}

.blog-course-head-title{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
    color: #3E3F7F;
    margin: 0;
    margin-bottom: 5px;
}

.blog-course-view-count{
    font-family: "Roboto";
    margin: 0;
    font-size: 13px;
    color: black;
    opacity: 60%;
}

.blog-course-info-area{
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.blog-course-info-area p{
    font-family: "Roboto";
    font-size: 13px;
    color: black;
    opacity: 60%;
}

.folder-area{
    display: flex;
    align-items: center;
    height: 26px;
}

.folder-image{
    width: 25px;
    opacity: 70%;
}

.folder-text{
    padding: 5px;
}

.blog-course-info-date{
    margin: 2px 14px;
}

.blog-course-profiles{
    display: flex;
    align-items: center;
    margin-left:20px;
}

.blog-course-profiles p{

    margin-left:8px;
}

.blog-course-profiles .profile-image{
    width: 24px;
    height: 24px;
    border: 1px solid white;
    margin: -5px;
    background-color: lightblue;
}