.main-banner {
    padding-top: 66px;
    background-image: linear-gradient(90deg, rgba(48, 56, 85,0.8) 100%, rgba(0,212,255,1) 100%), url("../../images/header-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
    color:whitesmoke;
}

.main-banner .container,
.main-banner .main-banner-content-area {
    height: 100%;
}

.main-banner .main-banner-content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-banner .main-banner-content-area h2 {
    font-size: 50px;
}

.main-banner .main-banner-content-area p {
    font-size: 20px;
    margin: 30px 0;
    line-height: 30px;
    max-width: 650px;
}

.main-banner .main-banner-content-area a {
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.main-banner .main-banner-content-area button {
    color:#303956;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 15px 30px;
    background-color: white;
    margin: 20px 0;
    cursor: pointer;
}

.main-banner .mid-banner {
    height: 130px;
    border-bottom: 2px solid #E9EDF2;
    background: white;
}

.main-banner .mid-banner .container,
.main-banner .mid-banner .mid-banner-content {
    height: 100%;
}

.main-banner .mid-banner .mid-banner-content {
    display: flex;
}

.main-banner .mid-banner .mid-banner-content .mid-itens {
    flex-basis: 32.5%;
    display: flex;
    align-items: center;
}

.main-banner .mid-banner .mid-banner-content .mid-itens .round-profile,
.main-banner .mid-banner .mid-banner-content .mid-itens .round-profile-last {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    margin-left: 10px;
    background-color: #5567FF;
    border-radius: 50%;
    margin-right: 20px;
}

.main-banner .mid-banner .mid-banner-content .mid-itens .round-profile i,
.main-banner .mid-banner .mid-banner-content .mid-itens .round-profile-last i {
    font-size: 30px;
}

.main-banner .mid-banner .mid-banner-content .mid-itens .round-profile-last {
    padding: 0 22px;
}

.main-banner .mid-banner .mid-banner-content .mid-itens h2 {
    color: #303956;
}

.main-banner .mid-banner .mid-banner-content .mid-itens p {
    color: #737373;
}