.main-paths .learning-content {
    display: grid;
    margin-top: 14px;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-paths .learning-content-course {
    position: relative;
    margin: 0px 12px;
    margin-bottom: 25px;
}

.main-paths .learning-content-course .course-info {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #DFE2E6;
    background-color: white;
    box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%), 0 1px 8px 0 rgb(39 44 51 / 2%);
}

.main-paths .learning-content-course .course-info .course-info-container {
    display: flex;
    align-items: center;
}

.main-paths .learning-content-course .course-info-image {
    width: 45px;
    height: 45px;
    margin: 12px 14px;
    border-radius: 5px;
}

.main-paths .learning-content-course .course-info-text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main-paths .learning-content-course .course-info-text-area h2 {
    font-size: 18px;
    font-weight: 700;
    color: #303956;
}

.main-paths .learning-content-course .course-info-text-area p {
    font-size: 13px;
    color: black;
    font-weight: 100;
}

.main-paths .learning-content-course a {
    width: 25px;
    height: 25px;
    background: url('../../images/paths/heart.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
}

.main-paths .learning-content-course .bottom-course {
    position: absolute;
    z-index: 1;
    bottom: -7px;
    height: 30px;
    width: calc(100% - 30px);
    background: white;
    border: 2px solid #DFE2E6;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}