.feedback{
    display: flex;
    justify-content: center;
    background-color: #F5F7FA;
    border-bottom: 2px solid #E9EDF2;
    height: 423px;
}

.feedback-holder{
    font-family: "Roboto";
    width: 1140px;
    margin: 0 auto;
    height: 359px;
    margin: 30px 0px;
    /* background-color: navajowhite; */
}

.feedback-header-area{
    height: 171px;
    margin: 0px 25px;
}

.feedback-header-title{
    padding-bottom: 12px;
    border-bottom: 4px solid #5567FF;
    border-radius: 2px;
    font-size: 34px;
    font-weight: bold;
    margin: 0;
    color: #303956;
}

.feedback-header-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.feedback-header-description{
    max-width: 600px;
    font-size: 15px;
    color:black;
    opacity: 70%;
}

.feedback-comments-area{
    height: 189px;
    margin: 0px 298px;
}

.feedback-comment{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #DFE2E6;
    font-size: 14px;
    opacity: 70%;
    max-width: 500px;
}

.feedback-profile-area{
    display: flex;
    margin-top: 20px;
}

.feedback-profile-image{
    background: #303956;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.feedback-profile-info-area{
    margin: 0;
    margin-left: 12px;
    width: 200px;
}

.feedback-profile-name{
    margin: 0;
    font-weight: bold;
    opacity: 8  0%;
}

.feedback-star-ratio{
    color: black;
    opacity: 60%;
    margin: 0;
    margin-left: 5px;
    font-size:11px;
}

.feedback-stars-container{
    display: flex;
}